:root{
	--jsGridEditor-ui-color: var(--ui-color);
	--jsGridEditor-ui-bgColor: var(--ui-bgColor);
	--jsGridEditorRowHover: chocolate;
	--jsGridEditorRowHoverColor: white;
}


div.jsGridEditorCommandLine {
	margin-bottom: 0.3em;
}

table.jsGridEditor {
	color: var(--jsGridEditor-ui-color);
	border-collapse: collapse;
}

table.jsGridEditor th {
	background-color: var(--jsGridEditorDarkColor);
	color: white;
}

table.jsGridEditor th span {
	display:block;
	font-size: 0.7em;
	color:silver;
}

table.jsGridEditor th:first-child a{						/* new line link */
	font-size: 1.5em;
    cursor: pointer;
    padding: 0.25em;
	text-decoration: none;
	color:inherit;
}

table.jsGridEditor tr:nth-child(2n) {
	background-color: var(--jsGridEditorEvenRows);
}

table.jsGridEditor tr:not([data-edit]):hover {
	background-color: var(--jsGridEditorRowHover) !important;
	color: var(--jsGridEditorRowHoverColor) !important;
}

table.jsGridEditor tr:hover td{
}

table.jsGridEditor td,
table.jsGridEditor th{
	border-right: 1px solid var(--jsGridEditorBorderColor);
	border-bottom: 1px solid var(--jsGridEditorBorderColor);
	padding: 0.55em;
}

table.jsGridEditor tr td:first-child {
	position: relative;
    width: 2.5em;
}

table.jsGridEditor td:first-child div {                    /* container for row buttons */
    position: absolute;
    top: 0;
    bottom: 0;
	left: 0;
	right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


table.jsGridEditor td:first-child div span{                /* 1 button */
    display: flex;
    text-align: center;
    color: white;
    font-size: 0.8em;
    flex-grow: 1;
	cursor: pointer;
	flex-direction: row;
    align-items: center;
    justify-content: center;
}

table.jsGridEditor[data-insert='1'] tr:not([data-edit='insert']) td:first-child div span {
    cursor: not-allowed;
}

table.jsGridEditor td:first-child div:nth-child(n+2){                          /* container for green/red button to accept/reject edits*/
    visibility: hidden;
}

table.jsGridEditor td:first-child div:nth-child(1) span:first-of-type{         /* button to edit/delete */
	background-color: darkcyan;
}

table.jsGridEditor td:first-child div:nth-child(1) span:last-of-type{
	background-color: #063129;
}

table.jsGridEditor td:first-child div:nth-child(2) span:first-of-type{         /* button to accept/reject edit */
	background-color: darkgreen;
}

table.jsGridEditor td:first-child div:nth-child(2) span:last-of-type{
	background-color: firebrick;
}

table.jsGridEditor td:first-child div:nth-child(3) span:first-of-type{         /* button to insert/cancel */
	background-color: #6b9d6b;
}

table.jsGridEditor td:first-child div:nth-child(3) span:last-of-type{
	background-color: firebrick;
}

table.jsGridEditor tr[data-edit='edit'] td:first-child div:nth-child(2) span{		/* accept/reject buttons visible when row in edit mode */
	visibility: visible;
}

table.jsGridEditor tr[data-edit='insert'] td:first-child div:nth-child(3) span{		/* insert/cancel buttons visible when row in insert mode */
	visibility: visible;
}

table.jsGridEditor[data-insert='1'] tr:not(table.jsGridEditor tr[data-edit='insert']) {			/* darken other lines when inserting */
    filter: opacity(0.5);
    cursor: not-allowed;
}

table.jsGridEditor tr:first-child {                                                 /* no filter for header line */
	filter: none !important;
}

table.jsGridEditor tr[data-edit] {                                                  /* background for edit/new line */
    background-color: darkseagreen;
	color:black;
}

table.jsGridEditor tr[data-edit] td {
	border-color:lightgray;
}

table.jsGridEditor tr[data-edit] td[contenteditable="false"] {					/* line with column not editable */
	background-color: #00000033;
	cursor: not-allowed;
}	
